{% extends "layout_unbranded2.html" %}

{% block page_title %}
 Search using NI number : Pension statements
{% endblock %}

{% block content %}

<main>
  <div style="width: 100%; background-color: #9C9EBD;">
        <div style="background-color: #5A5984;">&nbsp;&nbsp;&nbsp;<a href="ole_details?search=DD678910C" class="ole" style="color: #fff; text-decoration: none">Identity</a>&nbsp;&nbsp;&nbsp;<a href="DD678910C_conts" class="ole" style="color: #fff; text-decoration: none">Conts</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Claims</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Schemes</a>&nbsp;&nbsp;&nbsp;<a href="DD678910C_liability" class="ole" style="color: #fff; text-decoration: none">Liability</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Pre 1975</a>
        <a href="DD678910C_conts"><img src="/public/images/ole_dd_yt_conts2.png" width="1200px"></a>
      </div>
  </main>



{% endblock %}
