<select id="uprn" name="uprn" class="form-control" style="width: 60%" data-validation-name="addressSelect" data-validation-type="field"
    data-validation-rules="nonEmpty">
                <option value="" selected="selected">16 addresses found</option>
                <option value="9 West Avenue, Birkenhead, Wirral">9 West Avenue, Birkenhead, Wirral</option>
                <option value="10 West Avenue, Birkenhead, Wirral">10 West Avenue, Birkenhead, Wirral</option>
                <option value="11 West Avenue, Birkenhead, Wirral">11 West Avenue, Birkenhead, Wirral</option>
                <option value="12 West Avenue, Birkenhead, Wirral">12 West Avenue, Birkenhead, Wirral</option>
                <option value="13 West Avenue, Birkenhead, Wirral">13 West Avenue, Birkenhead, Wirral</option>
                <option value="14 West Avenue, Birkenhead, Wirral">14 West Avenue, Birkenhead, Wirral</option>
                <option value="15 West Avenue, Birkenhead, Wirral">15 West Avenue, Birkenhead, Wirral</option>
                <option value="16 West Avenue, Birkenhead, Wirral">16 West Avenue, Birkenhead, Wirral</option>
                <option value="17 West Avenue, Birkenhead, Wirral">17 West Avenue, Birkenhead, Wirral</option>
                <option value="18 West Avenue, Birkenhead, Wirral">18 West Avenue, Birkenhead, Wirral</option>
                <option value="19 West Avenue, Birkenhead, Wirral">19 West Avenue, Birkenhead, Wirral</option>
                <option value="20 West Avenue, Birkenhead, Wirral">20 West Avenue, Birkenhead, Wirral</option>
                <option value="21 West Avenue, Birkenhead, Wirral">21 West Avenue, Birkenhead, Wirral</option>
                <option value="22 West Avenue, Birkenhead, Wirral">22 West Avenue, Birkenhead, Wirral</option>
                <option value="23 West Avenue, Birkenhead, Wirral">23 West Avenue, Birkenhead, Wirral</option>
                <option value="24 West Avenue, Birkenhead, Wirral">24 West Avenue, Birkenhead, Wirral</option>
</select>