{% extends "layout_unbranded2.html" %}


{% block page_title %}
 Search using NI number : Pension statements
{% endblock %}

{% block content %}

<main>
  <ul class="results-list">
    {% if QQ123456C %}

      <div style="width: 100%; background-color: #9C9EBD;">
        <div style="background-color: #5A5984;">&nbsp;&nbsp;&nbsp;<a href="ole_details?search=QQ123456C" class="ole" style="color: #fff; text-decoration: none">Identity</a>&nbsp;&nbsp;&nbsp;<a href="QQ123456C_conts" class="ole" style="color: #fff; text-decoration: none">Conts</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Claims</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Schemes</a>&nbsp;&nbsp;&nbsp;<a href="QQ123456C_liability" class="ole" style="color: #fff; text-decoration: none">Liability</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Pre 1975</a>
        <img src="/public/images/ole_qq_name.png" width="1200px">
      </div>
      <!--<table class="ole" width="1200px">
        <tr><td colspan="8">NINO:<span style="padding: 0 100px 0 50px ;">QQ123456C</span>LATEST NAME AND ADDRESS</td></tr>
        <tr><td>Title</td><td style="background-color: #8C8AB5;">Mrs</td><td>Sex</td><td style="background-color: #8C8AB5;">F</td><td rowspan="3">Address</td><td rowspan="3" style="background-color: #8C8AB5;">
12 Ravenscroft Road<br>Armley<br>Leeds</td><td>Date of Birth</td><td style="background-color: #8C8AB5;">2/12/1963</td></tr>
        <tr><td>Forenames</td><td colspan="3" style="background-color: #8C8AB5;">Jane</td><td>Home phone number</td><td style="background-color: #8C8AB5;">0191 4441234</td></tr>
        <tr><td>Surname</td><td colspan="3" style="background-color: #8C8AB5;">Burns</td><td>Postcode</td><td style="background-color: #8C8AB5;">LS21 1BZ</td></tr>
      </table>-->

 {% elif DD678910C %}

      <div style="width: 100%; background-color: #9C9EBD;">
        <div style="background-color: #5A5984;">&nbsp;&nbsp;&nbsp;<a href="ole_details?search=DD678910C" class="ole" style="color: #fff; text-decoration: none">Identity</a>&nbsp;&nbsp;&nbsp;<a href="DD678910C_conts" class="ole" style="color: #fff; text-decoration: none">Conts</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Claims</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Schemes</a>&nbsp;&nbsp;&nbsp;<a href="DD678910C_liability" class="ole" style="color: #fff; text-decoration: none">Liability</a>&nbsp;&nbsp;&nbsp;<a href="" class="ole" style="color: #fff; text-decoration: none">Pre 1975</a>
        <img src="/public/images/ole_dd_name.png" width="1200px">
      </div>
      <!--<table class="ole" width="1200px">
        <tr><td colspan="8">NINO:<span style="padding: 0 100px 0 50px ;">QQ123456C</span>LATEST NAME AND ADDRESS</td></tr>
        <tr><td>Title</td><td style="background-color: #8C8AB5;">Mrs</td><td>Sex</td><td style="background-color: #8C8AB5;">F</td><td rowspan="3">Address</td><td rowspan="3" style="background-color: #8C8AB5;">
12 Ravenscroft Road<br>Armley<br>Leeds</td><td>Date of Birth</td><td style="background-color: #8C8AB5;">2/12/1963</td></tr>
        <tr><td>Forenames</td><td colspan="3" style="background-color: #8C8AB5;">Jane</td><td>Home phone number</td><td style="background-color: #8C8AB5;">0191 4441234</td></tr>
        <tr><td>Surname</td><td colspan="3" style="background-color: #8C8AB5;">Burns</td><td>Postcode</td><td style="background-color: #8C8AB5;">LS21 1BZ</td></tr>
      </table>-->

  {% elif excluded %}
  <div style="width: 100%; background-color: #9C9EBD;">
    <img src="/public/images/OLE_screen4.png" width="1200px">
  </div>
  <table class="ole" width="1200px">
    <tr><td colspan="8">NINO:<span style="padding: 0 100px 0 50px ;">DD678910C</span>LATEST NAME AND ADDRESS</td></tr>
    <tr><td>Title</td><td style="background-color: #8C8AB5;">Mrs</td><td>Sex</td><td style="background-color: #8C8AB5;">F</td><td rowspan="3">Address</td><td rowspan="3" style="background-color: #8C8AB5;">
14 West Avenue<br>Brunton<br>Carlisle<br></td><td>Date of Birth</td><td style="background-color: #8C8AB5;">08/11/1959</td></tr>
    <tr><td>Forenames</td><td colspan="3" style="background-color: #8C8AB5;">Belinda</td><td>Home phone number</td><td style="background-color: #8C8AB5;">0151 2234686</td></tr>
    <tr><td>Surname</td><td colspan="3" style="background-color: #8C8AB5;">Patterson</td><td>Postcode</td><td style="background-color: #8C8AB5;">CS1 1XX</td></tr>
  </table>
  {% elif special %}
  <div style="width: 100%; background-color: #9C9EBD;">
    <img src="/public/images/OLE_screen3.png" width="1200px">
  </div>
  <table class="ole" width="1200px">
    <tr><td colspan="8">NINO:<span style="padding: 0 100px 0 50px ;">FF123456C</span>LATEST NAME AND ADDRESS</td></tr>
    <tr><td>Title</td><td style="background-color: #8C8AB5;">Mr</td><td>Sex</td><td style="background-color: #8C8AB5;">M</td><td rowspan="3">Address</td><td rowspan="3" style="background-color: #8C8AB5;">33 Brownlee Crescent<br>Wavertee<br>Liverpool<br></td><td>Date of Birth</td><td style="background-color: #8C8AB5;">08/11/1967</td></tr>
    <tr><td>Forenames</td><td colspan="3" style="background-color: #8C8AB5;">Benjamin</td><td>Home phone number</td><td style="background-color: #8C8AB5;">0151 2234686</td></tr>
    <tr><td>Surname</td><td colspan="3" style="background-color: #8C8AB5;">Gomez</td><td>Postcode</td><td style="background-color: #8C8AB5;">L17 1AZ</td></tr>
  </table>
  </div>
  {% else %}
  <div style="width: 80%; background-color: #9C9EBD; height: 1000px; margin: 0 auto">
  <h1 class="heading-medium">Record not found</h1>
  <p><a href="ole" class="secondary-button">Back</a></p>
  </div>
  {% endif %}

</main>



{% endblock %}
