{% extends "layout_unbranded.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<style>
    {% include "includes/name_dob_styles.html" %}
    .nav {
      border-bottom: 1px solid #bfbfbf;
    }
        </style>
<main id="content" role="main">
    <div class="grid-row">

        
      <div class="column-full">

      <div id="global-breadcrumb">
        <a class="link-back" href="javascript:history.back()">Back</a>
      </div>
      <div id="id1">
     
      <h1 class="heading-large">Now print the forecast for DD678190C</h2>
  <button type="button" id="print-pdf" class="button next validation-submit" data-validation-sources="postcode" style="margin-top: 20px" onclick="window.print();">
          Print forecast
        </button>
        <div id="pdf" style="margin-top: 20px;">
          <embed id="pdf1" name="pdf1" src="/public/images/janeb_thirdparty_DWP.pdf" width="800" height="1000" type="application/pdf"  style="background: url('/public/images/loading.gif') no-repeat;">
        </div>
        <button type="button" id="print-pdf" class="button next validation-submit" data-validation-sources="postcode" style="margin-top: 20px" onclick="window.print();">
                Print forecast
              </button>
      </div>
      <!-- ID1 postcode end -->
      <!-- ID2 address finder start  -->

      <div id="id2" style="display:none">
        <h1 class="heading-large">Sent to printer?</h1>
        <p class="text">If you successfully sent the forecast to the printer you can finish.</p>
        <p><a href="index" class="button next validation-submit">Finish</a></p>
        <p><a href="#" onclick="window.print();">Print again?</a></p>

      </div><!-- ID2 address select end  -->


    </div>
  </div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
// function show(elementId) {
//   document.getElementById("id1").style.display = "none";
//   document.getElementById("id2").style.display = "block";
//   document.getElementById(elementId).style.display = "block";
// }

$(document).on('click', '#print-pdf', function () {
  $('#id1').hide();
  $('#id2').show();
});

</script>
{% endblock %}
