{% extends "layout_unbranded.html" %}

{% block page_title %}
  Married Woman
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Enter National Insurance number
      </h1>
      <form id="header-search" class="site-search" action="/RREv2/results_confirm2" method="get" role="search">
        <div class="form-group">
          <fieldset data-required data-error="Enter a valid NI number for example QQ123456C">
            <label for="search-main" class="hidden">Search NI numbers</label>
            <input name="search" id="search-main" title="Search" class="form-control" type="text" autofocus>
            <input class="submit" type="submit" value="Search" onclick="removeWhitespaces()">
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>
<script type="text/javascript">
  function removeWhitespaces() {
    var txtbox = document.getElementById('search-main');
    txtbox.value = txtbox.value.replace(/\s/g, "");
  }
</script>
{% endblock %}
