{% extends "layout_unbranded5.html" %}


{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
   <br>
      <ul class="list-bullet">
         <!-- <li><a href="#feedback">Capture agent feedback</a></li>-->
          <li><a href="#RRE">Married Woman's Reduced Rate Election messages</a></li>
          <li><a href="#Notify">GOV.UK Notify integration</a></li>
          <li><a href="#zoom">Fixes for zoom text users in filling gaps tab</a></li>
        <li><a href="#overseas">Overseas/autocredits messages</a></li>
        <li><a href="#volnics2">Voluntary National Insurance - Version 2 based on forecast</a></li>
        <li><a href="#volnics1">Voluntary National Insurance - Version 1 and 1.5 based on forecast</a></li>
        <li><a href="#spa">State Pension age calculator</a></li>
         <li><a href="#third">Third parties</a></li>
         <li><a href="#letters">Letters and leaflet</a></li>
        </ul>
        <!--<hr>  <a name="feedback">  </a>
        <h3 class="heading-medium">Capture agent feedback</h3>
        <p><span style="font-weight: 800">Problem:</span> agents aren't aware they can give feedback, or don't know the process,
    if they want to suggest improvements to the service.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> allow agents to quickly and easily provide feedback via Support, having link visible will prompt them if they notice any issues or want improvements.</p>
       <hr>
        <p><span style="font-weight: 800;">Version 2:</span> 3 April 2018</p>
        <p><a href="/feedback2/index" class="button">Feedback v2</a></p>
       <p>Simple webform. Open up in new wndow?</p>
        <ul class="list list-bullet">

            <li>QQ123456C </li>
            
          </ul>
          
        <hr>  
    
        <p><span style="font-weight: 800;">Version 1:</span> 3 April 2018</p>
        <p><a href="/feedback/index" class="button">Feedback v1</a></p>
       <p>Email link, will allow them to still have same browser window open and visible</p>
        <ul class="list list-bullet">

            <li>QQ123456C </li>
            
          </ul>
        -->
        <hr> <a name="RRE">  </a>
        <h3 class="heading-medium">Married Woman's Reduced Rate Election (RRE)</h3>
        <p><span style="font-weight: 800">Problem:</span> these users are excluded from the digital service and Support. Each statement has to be produced manually and can take weeks to send out.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> allowing any agent to issue these statements and answer enquiries in Support will result in customers getting the answers they need quicker and result in fewer handoffs and clerical work.</p>
       <hr>
        <p><span style="font-weight: 800;">Version 8:</span> 6 March 2018</p>
        <p><a href="/RREv8/index" class="button">RRE v8</a></p>
       
        <ul class="list list-bullet">

            <li>QQ123456C </li>
            
          </ul>
          
              <h4 class="heading-small">Changes from previous round of testing:</h4>
          <ul class="list list-bullet">
    
            <li>split up questions about husband and civil partner's sex and DOB.  Agents found it confusing on one page, ask about customer first then their partner</li>
            <li>changed language about husband/partner to be simpler and consistent</li>
          </ul> 
        <hr>
        <p><span style="font-weight: 800;">Experimental designs for warning messages</p>
          <p><span style="font-weight: 800;">Version 7</span></p>
          <p>"Disruption pattern", to warn users that the flow will be different. Decided not to use, but to break up the jourmey instead.</p>
        <p><a href="/RREv7/index" class="button">RRE v7</a></p>
        <ul class="list list-bullet">

            <li>QQ123456C </li>
            
          </ul>
          <p><span style="font-weight: 800;">Version 6</span></p>
          <p>Warning messages. Decided not use, extra text probably wasn't needed, but to break up the journey instead</p>
        <p><a href="/RREv6/index" class="button">RRE v6</a></p>
        <ul class="list list-bullet">

            <li>QQ123456C </li>
            
          </ul>
        <hr>
        <p><span style="font-weight: 800;">Version 4:</span> 25 January 2018</p>
           <p><a href="/RREv4/index" class="button">RRE v4</a></p>
           <ul class="list list-bullet">

              <li>QQ123456C </li>
              
            </ul>
           <p>Marital status questions before issuing a statement or answering a question</p>
           <hr>
           <p><span style="font-weight: 800;">Version 3:</span> 25 January 2018</p>
           <p><a href="/RREv3/index" class="button">RRE v3</a></p>
          <p>Marital status questions before issuing a statement</p>
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>added questions about marital status and husband's date of birth</li>

      </ul> 
        <hr>    
          <p>
   
           <p><span style="font-weight: 800;">Version 2:</span> 27 July 2017</p>
          <p><a href="/RREv2/index" class="button">RRE v2</a></p>
    
      <ul class="list list-bullet">

        <li>DD678910C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>added the RRE amounts to the enquiries screen, feedback from agents</li>

      </ul> 
        <hr>    
  
          <p><span style="font-weight: 800;">Version 1:</span> 25 July 2017</p>
          <p><a href="/RREv1/index" class="button">RRE v1</a></p>
    
      <ul class="list list-bullet">

        <li>DD678910C </li>
        
      </ul>

      <hr>  <a name="Notify">  </a>
      <h3 class="heading-medium">GOV.UK Notify integration</h3>
      <p><span style="font-weight: 800">Problem:</span> introducing GOV.UK Notify will mean agents won't need to print locally for UK letters (93%). However they still will for overseas (7%) and may miss this step.</p>
    <p>
      <p><span style="font-weight: 800">Hypothesis:</span> making the UK and Overseas journeys different at the point of printing will ensure agents locally print when needed.</p>
 
      
        
        <p><span style="font-weight: 800;">Version 2:</span> 14 March 2018</p>
        <p><a href="/Notifyv2/index" class="button">Notify v2</a></p>
       <p>Show the PDF to keep journey consistent, need to research if agents use the PDF to check what they've inputted</p>
        <ul class="list list-bullet">
  
            <li>QQ123456C </li>
            
          </ul>
          <p><span style="font-weight: 800;">Version 1:</span> 14 March 2018</p>
      <p><a href="/Notifyv1/index" class="button">Notify v1</a></p>
      <p>PDF isn't displayed, revisit design when Notify can do overseas</p>
      <ul class="list list-bullet">

          <li>QQ123456C </li>
          
        </ul>
           
      <hr>
      <a name="zoom"></a>
        <h3 class="heading-medium">Fixes for Zoom Text users</h3>
        <p><span style="font-weight: 800">Problem:</span> using bold text only to make figures stand out doesn't work for zoom text users </p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> using different colour background, text or indicators will help these figures stand out to users</p>
           <p><span style="font-weight: 800;">Date:</span> 26 September 2017</p>
          <p><a href="/volnicsv1a_zoom/index" class="button">Zoom text v1</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C - indicator</li>
        <li>DD678910C - background</li>
        <li>BG345678A - coloured text </li>
        <li>ZZ345678A - table border</li>
        
      </ul>
        <hr> 
        
        <a name="overseas"></a>
       <h3 class="heading-medium">Overseas/auto credits</h3>
        <p><span style="font-weight: 800">Problem:</span> these users are excluded from the digital service and Support. This requires a manual statement to be produced and creates delays in sending it out</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> telling agents that the customer may have credits will allow them to issue the statement after checking their record in OLE</p>
        <p><span style="font-weight: 800;">Version 4:</span> 25 October 2017</p>
        <p><a href="/overseasv4/index" class="button">Auto credits v4</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/overseasv4/ole" class="button">Fake OLE</a></p>
  
    <ul class="list list-bullet">

      <li>QQ123456C </li>
      <li>DD678910C </li>
      </ul>
        <h4 class="heading-small">Changes from previous round of testing:</h4>
    <ul class="list list-bullet">

      <li>changed message so appears earlier in journey</li>
      <li>changed content to make it clearer what they need to do and that they'll exit the record on "No"</li>
      </ul> 
      <hr>      
        <p><span style="font-weight: 800;">Version 3:</span> 18 October 2017</p>
          <p><a href="/overseasv3/index" class="button">Auto credits v3</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/overseasv3/ole" class="button">Fake OLE</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        <li>DD678910C </li>
        </ul>
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>added in a question to make sure users have checked the liability and change the journey</li>
        </ul> 
        <hr>  
        <p><span style="font-weight: 800;">Version 2:</span> 2 October 2017</p>
          <p><a href="/overseasv2/index" class="button">Auto credits v2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/overseasv2/ole" class="button">Fake OLE</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        <li>DD678910C </li>
        </ul>
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>added a page before issuing a statement to get agents to read the warning</li>
        </ul> 
        <hr>
           <p><span style="font-weight: 800;">Version 1:</span> 20 September 2017</p>
          <p><a href="/overseasv1/index" class="button">Auto credits v1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/overseasv1/ole" class="button">Fake OLE</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        <li>DD678910C </li>
        
      </ul>
       
 
       <hr> <a name="volnics2"></a>
      <h3 class="heading-medium">Voluntary National Insurance contributions</h3>
        <p><span style="font-weight: 800">Problem:</span> agents can't easily advice users if they can improve their pension by paying gaps. It involves a separate tool and a call back, even when some users can't improve their pension.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> showing agents if users can improve their pension with clear info and simple messaging will mean that they can answer enquiries at the point of contact.</p>
                <h3 class="heading-secondary">Version 2 - Vol Nics based on forecast</h3>
           <p><span style="font-weight: 800;">Date:</span> 20 October 2017</p>
          <p><a href="/volnicsv21/index" class="button">Voluntary National Insurance v2 (21)</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">
        <li>added background colour to forecast to make it stand out</li>
        <li>repeated that gaps can improve the forecast amount</li>
        <li>removed monthly increase</li>

      </ul> 
           
      <hr>    
        
           <p><span style="font-weight: 800;">Date:</span> 15 September 2017</p>
          <p><a href="/volnicsv17/index" class="button">Voluntary National Insurance v2 (17)</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>agents not always interacting with previous versions. Stepped questions, to prompt them. Are they still contributing NI? when will they stop?</li>

      </ul> 
           
      <hr> 
               <p><span style="font-weight: 800;">Date:</span> 5 September 2017</p>
          <p><a href="/volnicsv16/index" class="button">Voluntary National Insurance v2 (16)</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>can change by date, State Pension age by default</li>
         <li>show which years, cost of filling and increase to pension amount</li>

      </ul> 
           
      <hr> 
              <p><span style="font-weight: 800;">Date:</span> 11 August 2017</p>
          <p><a href="/volnicsv15/index" class="button">Voluntary National Insurance v2 (15)</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>number of future years didn't make sense to agents. Can change by date or age</li>

      </ul> 
           
      <hr> 
              <p><span style="font-weight: 800;">Date:</span> 11 July 2017</p>
          <p><a href="/volnicsv8/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>changed order of page to make the timeline clearer</li>
        <li>if statements - if they contribute for another 9 years etc</li>
      </ul> 
           
      <hr> 
       
       
                 <p><span style="font-weight: 800;">Date:</span> 4 July 2017</p>
          <p><a href="/volnicsv5/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>list of future years</li>
      </ul>    
      <hr> 
        <p><span style="font-weight: 800;">Date:</span> 4 July 2017</p>
          <p><a href="/volnicsv4/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>allow agents to change number of future years</li>
      </ul> 
           
      <hr> <a name="volnics1"></a>
        
          <h3 class="heading-secondary">Version 1.5 - Vol Nics based on today amount with post 2016 gaps</h3>
        <p><span style="font-weight: 800">Date:</span> 4 September 2017</p>
          <p><a href="/volnicsv1b/index" class="button">Voluntary National Insurance v1.5</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C - simple version </li>
        <li>DD678910C - complex version </li>
      </ul>
     
          <h4 class="heading-small">Changes from previous round of testing:</h4>

      <ul class="list list-bullet">

        <li>added post 2016 gaps in NI record</li>
      </ul> 
       <hr>  <a name="volnics1"></a>
                 <h3 class="heading-secondary">Version 1 - Vol Nics based on today amount only</h3>

         <p><span style="font-weight: 800">Date:</span> 31 July 2017</p>
          <p><a href="/volnicsv1a/index" class="button">Voluntary National Insurance v1</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C - will get full amount by contributing</li>
        <li>DD678910C - has no gaps</li>
        <li>FF123456C - has reached the full amount</li>
        <li>NK678910D - not future years</li>
        <li>ZZ345678A - MQP (hasn't got 10 years)</li>
        <li>FF654321B - can't display table</li>
      </ul>
          <h4 class="heading-small">Changes from previous round of testing:</h4>

      <ul class="list list-bullet">

        <li>removed/simplified suitability messages</li>
       
      </ul>
        <hr>
    
         <p><span style="font-weight: 800">Date:</span> 26 June 2017</p>
          <p><a href="/volnicsv1/index" class="button">Voluntary National Insurance v1</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C - will get full amount by contributing</li>
        <li>DD678910C - has no gaps</li>
        <li>FF123456C - has reached the full amount</li>
        <li>NK678910D - not future years</li>
         <li>ZZ345678A - MQP no forecast</li>
         <li>BG345678A - MQP with forecast</li>
         <li>FF654321B - can't display table</li>
      </ul>
      <hr><a name="spa"></a>
       <h3 class="heading-medium">State Pension age calculator</h3>
        <p><span style="font-weight: 800">Problem:</span> agents can't easily get the State Pension age to answer enquiries from users and have to use a separate tool.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> allowing agents to enter a Date of Birth inside the service will make it easier and quicker for agents to answer these enquiries.</p>
        
         <p><span style="font-weight: 800">Version 1:</span> 26 June 2017</p>
          <p><a href="/spa/index" class="button">SPa v1</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C</li>
      </ul>
        <hr><a name="third"></a>
      <h3 class="heading-medium">Third parties</h2>
      <p><span style="font-weight: 800">Problem:</span> agents need to send out statements to third parties, they can't do this easily or consistently.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> allowing agents to choose who the forecasts are sent to and showing fields specific to third party details will make it faster and easier to use. We'll also get less errors and more consistent results.
        <p><span style="font-weight: 800">Version 3:</span> 1 June 2017</p>
      
      <p><a href="/third_partiesv3/index" class="button">Third parties v3</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C</li>
      </ul>
      <h4 class="heading-small">Changes from previous round of testing:</h4>

      <ul class="list list-bullet">

        <li>buttons instead of radios to make repetitive task easier</li>
        <li>changes to background colours to improve contrast</li>
      </ul>
<hr>
      <p><span style="font-weight: 800">Version 1</span> 30 May 2017</p>
     <p>V1 - toggle on enter details page</p>
      <p><a href="/third_parties/index" class="button">Third parties v1</a></p>
      <p><span style="font-weight: 800">Version 2</span> 30 May 2017</p>
      <p>V2 - toggle on send forecast/deal with enquiries pages </p>
      <p><a href="/third_partiesv2/index" class="button">Third parties v2</a></p>
      <ul class="list list-bullet">

        <li>QQ123456C</li>
      </ul>

<hr>
     <a name="letters"></a> 
 <h3 class="heading-medium">Letters and leaflet</h3>
        <p><span style="font-weight: 800">Married Woman's Reduced rate NI</span> </p>
      <p><a href="/public/images/RRE_SPA_before_husband_simon.pdf">Reaches State Pension age before husband (PDF)</a></p>
      <p><a href="/public/images/RRE_SPA_after_husband.pdf">Reaches State Pension after husband (PDF)</a></p>
      <p><a href="/public/images/RRE_leafletv1.pdf">Leaflet (PDF)</a></p>
      <p><span style="font-weight: 800">Other scenarios</span> </p>
    
      <p><a href="/public/images/DWP_template_caveat_SPA.pdf">All scenarios - with caveat about State Pension age change (PDF)</a></p>
      <p><a href="/public/images/statements_with_caveat.pdf">All scenarios - with caveat about NI record (PDF)</a></p>
      <p><a href="/public/images/third_party_statement.pdf">All scenarios - third parties (PDF)</a></p>
      <p><a href="/public/images/Check_DWP_template_v6.pdf">All scenarios</a></p>
      <p><a href="/public/images/leaflet_caveat_version_no3.pdf">Leaflet v3 - fix for published date (PDF)</a></p>
      <p><a href="/public/images/Check_leaflet_caveat.pdf">Leaflet v2 - with caveat about NI record (PDF)</a></p>
      <p><a href="/public/images/Check_leaflet_v6.pdf">Leaflet v1 (PDF)</a></p>
       

    </div>
  </div>
</main>

{% endblock %}
