{% extends "layout_unbranded.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Support for Check your State Pension </h1>
      <h2 class="heading-large">Prototypes</h2>
      <h3 class="heading-medium">Fixes for Zoom Text users</h3>
        <p><span style="font-weight: 800">Problem:</span> using bold text only to make figures stand out doesn't work for zoom text users </p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> using different colour background, text or indicators will help these figures stand out to users</p>
           <p><span style="font-weight: 800;">Date:</span> 26 September 2017</p>
          <p><a href="/volnicsv1a_zoom/index" class="button">Zoom text v1</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C - indicator</li>
        <li>DD678910C - background</li>
        <li>BG345678A - coloured text </li>
        <li>ZZ345678A - table border</li>
        
      </ul>
        <hr>    
       <h3 class="heading-medium">Overseas/auto credits</h3>
        <p><span style="font-weight: 800">Problem:</span> these users are excluded from the digital service and Support. This creates delays in sending out statement</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> telling agents that the customer may have credits will allow them to issue the statement after checking their record</p>
            <p><span style="font-weight: 800;">Date:</span> 18 October 2017</p>
          <p><a href="/overseasv3/index" class="button">Auto credits v3</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/overseasv3/ole" class="button">Fake OLE</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        <li>DD678910C </li>
        </ul>
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>added in a question to make sure users have checked the liability and change the journey</li>
        </ul> 
        <hr>  
        <p><span style="font-weight: 800;">Date:</span> 2 October 2017</p>
          <p><a href="/overseasv2/index" class="button">Auto credits v2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/overseasv2/ole" class="button">Fake OLE</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        <li>DD678910C </li>
        </ul>
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>added a page before issuing a statement to get agents to read the warning</li>
        </ul> 
        <hr>
           <p><span style="font-weight: 800;">Date:</span> 20 September 2017</p>
          <p><a href="/overseasv1/index" class="button">Auto credits v1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/overseasv1/ole" class="button">Fake OLE</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        <li>DD678910C </li>
        
      </ul>
        <hr>    
       <h3 class="heading-medium">Married Woman's Reduced Rate Election (RRE)</h3>
        <p><span style="font-weight: 800">Problem:</span> these users are excluded from the digital service and Support. Each statement has to be produced manually and can take weeks to send out.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> showing agents the amounts of State Pension and the RRE entitlement will make the process simpler for agents and users will get their statement quicker.</p>
           <p><span style="font-weight: 800;">Date:</span> 27 July 2017</p>
          <p><a href="/RREv2/index" class="button">RRE v2</a></p>
    
      <ul class="list list-bullet">

        <li>DD678910C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>added the RRE amounts</li>

      </ul> 
        <hr>    
  
          <p><span style="font-weight: 800;">Date:</span> 25 July 2017</p>
          <p><a href="/RREv1/index" class="button">RRE v1</a></p>
    
      <ul class="list list-bullet">

        <li>DD678910C </li>
        
      </ul>
 
       <hr> 
      <h3 class="heading-medium">Voluntary National Insurance contributions</h3>
        <p><span style="font-weight: 800">Problem:</span> agents can't easily advice users if they can improve their pension by paying gaps. It involves a separate tool and a call back, even when some users can't improve their pension.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> showing agents if users can improve their pension with clear info and simple messaging will mean that they can answer enquiries at the point of contact.</p>
           <h3 class="heading-secondary">Version 2 - Vol Nics based on forecast</h3>
           <p><span style="font-weight: 800;">Date:</span> 15 September 2017</p>
          <p><a href="/volnicsv17/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>stepped questions, are they still contributing NI? when will they stop? etc</li>

      </ul> 
           
      <hr> 
               <p><span style="font-weight: 800;">Date:</span> 5 September 2017</p>
          <p><a href="/volnicsv16/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>can change by date, State Pension age by default</li>
         <li>show which years, cost of filling and increase to pension amount</li>

      </ul> 
           
      <hr> 
              <p><span style="font-weight: 800;">Date:</span> 11 August 2017</p>
          <p><a href="/volnicsv15/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>can change by date or age</li>

      </ul> 
           
      <hr> 
              <p><span style="font-weight: 800;">Date:</span> 11 July 2017</p>
          <p><a href="/volnicsv8/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>changed order of page</li>
        <li>if statements - if they contribute for another 9 years etc</li>
      </ul> 
           
      <hr> 
       
       
                 <p><span style="font-weight: 800;">Date:</span> 4 July 2017</p>
          <p><a href="/volnicsv5/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>list of future years</li>
      </ul>    
      <hr> 
        <p><span style="font-weight: 800;">Date:</span> 4 July 2017</p>
          <p><a href="/volnicsv4/index" class="button">Voluntary National Insurance v2</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C </li>
        
      </ul>
      
          <h4 class="heading-small">Changes from previous round of testing:</h4>
      <ul class="list list-bullet">

        <li>allow agents to change number of future years</li>
      </ul> 
           
      <hr> 
        
          <h3 class="heading-secondary">Version 1.5 - Vol Nics based on today amount with post 2016 gaps</h3>
        <p><span style="font-weight: 800">Date:</span> 4 September 2017</p>
          <p><a href="/volnicsv1b/index" class="button">Voluntary National Insurance v1.5</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C - simple version </li>
        <li>DD678910C - complex version </li>
      </ul>
     
          <h4 class="heading-small">Changes from previous round of testing:</h4>

      <ul class="list list-bullet">

        <li>added post 2016 gaps in NI record</li>
      </ul> 
       <hr>  
                 <h3 class="heading-secondary">Version 1 - Vol Nics based on today amount only</h3>

         <p><span style="font-weight: 800">Date:</span> 31 July 2017</p>
          <p><a href="/volnicsv1a/index" class="button">Voluntary National Insurance v1</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C - will get full amount by contributing</li>
        <li>DD678910C - has no gaps</li>
        <li>FF123456C - has reached the full amount</li>
        <li>NK678910D - not future years</li>
        <li>ZZ345678A - MQP (hasn't got 10 years)</li>
        <li>FF654321B - can't display table</li>
      </ul>
          <h4 class="heading-small">Changes from previous round of testing:</h4>

      <ul class="list list-bullet">

        <li>removed/simplified suitability messages</li>
       
      </ul>
        <hr>
    
         <p><span style="font-weight: 800">Date:</span> 26 June 2017</p>
          <p><a href="/volnicsv1/index" class="button">Voluntary National Insurance v1</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C - will get full amount by contributing</li>
        <li>DD678910C - has no gaps</li>
        <li>FF123456C - has reached the full amount</li>
        <li>NK678910D - not future years</li>
         <li>ZZ345678A - MQP no forecast</li>
         <li>BG345678A - MQP with forecast</li>
         <li>FF654321B - can't display table</li>
      </ul>
      <hr>
       <h3 class="heading-medium">State Pension age calculator</h3>
        <p><span style="font-weight: 800">Problem:</span> agents can't easily get the State Pension age to answer enquiries from users and have to use a separate tool.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> allowing agents to enter a Date of Birth inside the service will make it easier and quicker for agents to answer these enquiries.</p>
        
         <p><span style="font-weight: 800">Date:</span> 26 June 2017</p>
          <p><a href="/spa/index" class="button">SPa v1</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C</li>
      </ul>
        <hr>
      <h3 class="heading-medium">Third parties</h2>
      <p><span style="font-weight: 800">Problem:</span> agents need to send out statements to third parties, they can't do this easily or consistently.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> allowing agents to choose who the forecasts are sent to and showing fields specific to third party details will make it faster and easier to use. We'll also get less errors and more consistent results.
        <p><span style="font-weight: 800">Date:</span> 1 June 2017</p>
      
      <p><a href="/third_partiesv3/index" class="button">Third parties v3</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C</li>
      </ul>
      <h4 class="heading-small">Changes from previous round of testing:</h4>

      <ul class="list list-bullet">

        <li>buttons instead of radios to make repetitive task easier</li>
        <li>changes to background colours to improve contrast</li>
      </ul>
<hr>
      <p><span style="font-weight: 800">Date:</span> 30 May 2017</p>
     <p>V1 - toggle on enter details page</p>
      <p><a href="/third_parties/index" class="button">Third parties v1</a></p>
      <p>V2 - toggle on send forecast/deal with enquiries pages </p>
      <p><a href="/third_partiesv2/index" class="button">Third parties v2</a></p>
      <ul class="list list-bullet">

        <li>QQ123456C</li>
      </ul>
      


    </div>
  </div>
</main>

{% endblock %}
