{% extends "layout_unbranded.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Support for Check your State Pension </h1>
      <h2 class="heading-large">Prototypes</h2>
      <h3 class="heading-medium">Third parties</h2>
      <p><span style="font-weight: 800">Problem:</span> agents need to send out statements to third parties, they can't do this easily or consistently.</p>
      <p>
        <p><span style="font-weight: 800">Hypothesis:</span> allowing agents to choose who the forecasts are sent to and showing fields specific to third party details will make it faster and easier to use. We'll also get less errors and more consistent results.
        <hr>
        <p><span style="font-weight: 800">Date:</span> 1 June 2017</p>
      
      <p><a href="/third_partiesv3/index" class="button">Third parties v3</a></p>
    
      <ul class="list list-bullet">

        <li>QQ123456C</li>
      </ul>
      <h4 class="heading-small">Changes from previous round of testing:</h4>

      <ul class="list list-bullet">

        <li>buttons instead of radios to make repetitive task easier</li>
        <li>changes to background colours to improve contrast</li>
      </ul>
<hr>
      <p><span style="font-weight: 800">Date:</span> 30 May 2017</p>
     <p>V1 - toggle on enter details page</p>
      <p><a href="/third_parties/index" class="button">Third parties v1</a></p>
      <p>V2 - toggle on send forecast/deal with enquiries pages </p>
      <p><a href="/third_partiesv2/index" class="button">Third parties v2</a></p>
      <ul class="list list-bullet">

        <li>QQ123456C</li>
      </ul>
      


    </div>
  </div>
</main>

{% endblock %}
