{% extends "layout_unbranded2.html" %} {% block page_title %} Search using NI number : Pension statements {% endblock %}
{% block content %}

<main>
  <div style="width: 100%; background-color: #9C9EBD;">
    <div style="background-color: #5A5984;">&nbsp;&nbsp;&nbsp;
      <a href="ole_details?search=LL074589A" class="ole" style="color: #fff; text-decoration: none">Identity</a>&nbsp;&nbsp;&nbsp;
      <a href="LL074589A_conts" class="ole" style="color: #fff; text-decoration: none">Conts</a>&nbsp;&nbsp;&nbsp;
      <a href="" class="ole" style="color: #fff; text-decoration: none">Claims</a>&nbsp;&nbsp;&nbsp;
      <a href="" class="ole" style="color: #fff; text-decoration: none">Schemes</a>&nbsp;&nbsp;&nbsp;
      <a href="LL074589A_liability" class="ole" style="color: #fff; text-decoration: none">Liability</a>&nbsp;&nbsp;&nbsp;
      <a href="" class="ole" style="color: #fff; text-decoration: none">Pre 1975</a>
      <img src="/public/images/ole_LL07_liability.png" width="1200px">
    </div>
</main>



{% endblock %}
