{% extends "layout_unbranded.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Enter password</h1>
                <div id="id1">
                        <form method="post" action="forecast_DD678910C" class="form">    
                    <fieldset>
                           
                            <div style="width: 53%; float: left;">
                                <label for="address_postcode" class="form-label">
                             &nbsp;
                            </label>
                                <input type="text" id="address_postcode" name="address.postcode" class="form-control" style="width: 90%">
                            </div>
                            <div style="width: 47%; float: left;">
                                <a href="forecast_QQ123456C" class="button next validation-submit" style="margin-top: 25px">Continue</a>
                               
                           
                            </div>
                        </fieldset>
                    </form>
                    </div>
            </div>
        </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

function removeWhitespaces() {
    var txtbox = document.getElementById('search-main');
    txtbox.value = txtbox.value.replace(/\s/g, "");
}
$(document).on('click', '#find-address', function() {
    $('#id1,#id3,#id4').addClass('js-hidden');
    $('#id2').removeClass('js-hidden');
});

$(document).on('click', '#find-again', function() {
  $('#showMe').addClass('js-hidden');
  $('#select-address').removeClass('js-hidden');
});

$(document).on('click', '#cant-find', function(e) {
    e.preventDefault();
    $('#id2').addClass('js-hidden');
    $('#id3').removeClass('js-hidden');
});

$(document).on('click', 'input[type="radio"]', function(e) {
    if ($(e.target).attr('id') === 'radio-1' || $(e.target).attr('id') === 'radio-2') {
        if ($(this).attr('id') === 'radio-1') {
            $('#id1').removeClass('js-hidden');
            $('#id2,#id3,#id4').addClass('js-hidden');
        } else {
            $('#id4').removeClass('js-hidden');
            $('#id1,#id2,#id3').addClass('js-hidden');
        }
    }
});


$(document).on('change', '#uprn', function() {
$('#select-address').addClass('js-hidden');
$('#showMe').removeClass('js-hidden');
$('#id3').addClass('js-hidden');
$('#id4').addClass('js-hidden');
});
</script>
{% endblock %}
